body { overflow-x: hidden; }
section.container {
  display: grid;
  grid-template: 
    'mainPhoto title title'
    'mainPhoto discription discription';
  width: 100%;
  height: 672px;
  background-color: #082841;
  overflow: hidden;
  color: #FFFFFF;

  figure {
    grid-area: mainPhoto;
    @include md {
      height: 384px;
      width: 384px;
      border-radius: 50%;
      overflow: hidden;
    }

    @include sm {
      height: 144px;
      width: 144px;
      border-radius: 50%;
      overflow: hidden;
      margin: 25px;
    }

    img {
      width: 522px;
      @include md { width: 384px; }
      @include sm {
        width: 144px;
        height: 198px;
      }
    }
  }
  .title {
    grid-area: title;
    padding: 1.7% 6.7%;
    line-height: 47px;
    font-family: $title-font-family;

    h3 {
      font-size: $font-size_middle;
    }
    h1 {
      font-size: $font-size_biggest;
    }
  }
  p {
    grid-area: discription;
    padding: 1.7% 6.7% 2.3% 6.7%;
    font-size: 20px;
    font-family: $content-font-family;
    max-width: 544px;
    line-height: 28px;
  }

  @include md {
    grid-template: 
    'title'
    'mainPhoto'
    'discription';
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 1024px;

    p {
      max-width: 70.8%;
      align-self: center;
      line-height: 28px;
    }

    .title { align-self: flex-end; }
  }

  @include sm {
    height: 648px;
    .title {
      > h3 { font-size: 16px; };
      > h1 { font-size: 40px; line-height: 35px; };
    }
    p {
      font-size: 16px;
      line-height: 28px;
      max-width: 90.8%;
    }
  }
}

h2 {
  margin: 60px 0 40px 0;
  font-size: $font-size_biggest;
  @include sm { font-size: 32px; margin-bottom: 0; }
}

main {
  margin: 15px auto;
  width: 944px;

  @include lg { width: 91.7%; }

  h3 {
    font-size: $font-size_middle;
    font-family: $title-font-family;
  }

  p {
    font-size: $font-size_lowest;
    font-family: $content-font-family;
    margin-top: auto;
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

  }

  .expectation { // need to rename
    display: grid;
    grid-template-rows: min-content repeat(2, 217px);
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;

    h2 {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      border-radius: 5px;
      padding: 25px 30px 5px 30px;
      background: linear-gradient(to bottom left, $color-gray_light, $color-gray_bright);

      p {
        max-width: 74%;
        @include md { max-width: 91.7%; }
      }

      &:nth-child(2) {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
      }
      &:nth-child(3) {
        grid-column: 5 / -1;
        grid-row: 2 / 3;
      }
      &:nth-child(4) {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
      }
      &:nth-child(5) {
        grid-column: 4 / -1;
        grid-row: 3 / 4;
      }
    }

    @include sm { display: none; }
  }

  .container-slider-expectation { display: none; }

  .works, .container-slider-expectation {
    @include sm { display: block; }

    article.even {
      grid-template-columns: 1fr 247px 247px;
      @include sm { grid-template-columns: repeat(2,1fr); }
    }

    article.odd {
      grid-template-columns: 247px 247px 1fr;
      @include sm { grid-template-columns: repeat(2,1fr); }
    }

    article {
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      margin: 25px 0 110px 0;
      grid-gap: 50px;

      .slider-odd, .slider-even, .slider-expectation {
        grid-column: 1 / 3;
        border-radius: 5px;
        height: 387px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        @include md { width: 444px; margin: 0 auto; }
        @include sm { height: 275px; width: 304px }

        .first-slider__nav, .second-slider__nav, .third-slider__nav,
        .fourth-slider__nav, .fifth-slider__nav, .sixth-slider__nav, .seventh-slider__nav, .slider-expectation__nav {
          visibility: hidden;
        }
        label {
          height: 8px;
          width: 8px;
          margin: 0 5px;
          border-radius: 50%;
          background: $color-red;
          z-index: 1;
          cursor: pointer;
        }
        input[type=radio]:checked + label {
          background: #000000;
          animation: check 0.2s linear forwards;
        }
        .first-slider__inner, .second-slider__inner, .third-slider__inner,
        .fourth-slider__inner, .fifth-slider__inner, .sixth-slider__inner, .seventh-slider__inner, .slider-expectation__inner {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 400%;
          transition: bottom .4s;
          display: flex;
          flex-direction: column-reverse;
        }
        .first-slider__inner {
          height: 100% * $count-imgs-to-first-slide;
        }
        .second-slider__inner {
          height: 100% * $count-imgs-to-second-slide;
        }
        .third-slider__inner {
          height: 100% * $count-imgs-to-third-slide;
        }
        .fourth-slider__inner {
          height: 100% * $count-imgs-to-fourth-slide;
        }
        .fifth-slider__inner {
          height: 100% * $count-imgs-to-fifth-slide;
        }
        .sixth-slider__inner {
          height: 100% * $count-imgs-to-sixth-slide;
        }
        .seventh-slider__inner {
          height: 100% * $count-imgs-to-seventh-slide;
        }

        div[class*="slider__contents"] {
          width: calc(100% - 60px);
          height: 387px;
          margin: 30px auto;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          border-radius: 5px;
          box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
          @include sm { height: 216px; }
        }

        @for $i from 1 through $count-imgs-to-first-slide {
          .first-slider__contents-#{$i} {
            background: url('../imgs/first-slide-item-#{$i}.jpg');
          }
          .first-slider__nav:checked:nth-of-type(#{$i}) ~ .first-slider__inner {
            bottom: calc(100% - #{$i} * 100%);
          }
        }
        @for $i from 1 through $count-imgs-to-second-slide {
          .second-slider__contents-#{$i} {
            background: url('../imgs/second-slide-item-#{$i}.jpg');
          }
          .second-slider__nav:checked:nth-of-type(#{$i}) ~ .second-slider__inner {
            bottom: calc(100% - #{$i} * 100%);
          }
        }
        @for $i from 1 through $count-imgs-to-third-slide {
          .third-slider__contents-#{$i} {
            background: url('../imgs/third-slide-item-#{$i}.jpg');
          }
          .third-slider__nav:checked:nth-of-type(#{$i}) ~ .third-slider__inner {
            bottom: calc(100% - #{$i} * 100%);
          }
        }
        @for $i from 1 through $count-imgs-to-fourth-slide {
          .fourth-slider__contents-#{$i} {
            background: url('../imgs/fourth-slide-item-#{$i}.jpg');
          }
          .fourth-slider__nav:checked:nth-of-type(#{$i}) ~ .fourth-slider__inner {
            bottom: calc(100% - #{$i} * 100%);
          }
        }
        @for $i from 1 through $count-imgs-to-fifth-slide {
          .fifth-slider__contents-#{$i} {
            background: url('../imgs/fifth-slide-item-#{$i}.jpg');
          }
          .fifth-slider__nav:checked:nth-of-type(#{$i}) ~ .fifth-slider__inner {
            bottom: calc(100% - #{$i} * 100%);
          }
        }
        @for $i from 1 through $count-imgs-to-sixth-slide {
          .sixth-slider__contents-#{$i} {
            background: url('../imgs/sixth-slide-item-#{$i}.jpg');
          }
          .sixth-slider__nav:checked:nth-of-type(#{$i}) ~ .sixth-slider__inner {
            bottom: calc(100% - #{$i} * 100%);
          }
        }
        @for $i from 1 through $count-imgs-to-seventh-slide {
          .seventh-slider__contents-#{$i} {
            background: url('../imgs/seventh-slide-item-#{$i}.jpg');
          }
          .seventh-slider__nav:checked:nth-of-type(#{$i}) ~ .seventh-slider__inner {
            bottom: calc(100% - #{$i} * 100%);
          }
        }
        @for $i from 1 through 4 {
          .slider-expectation__nav:checked:nth-of-type(#{$i}) ~ .slider-expectation__inner {
            bottom: calc(100% - #{$i} * 100%);
          }
        }
      }
      .slider-even {
        grid-column: 2 / 4;
        align-items: flex-start;
      }

      .slider-even ~ .description {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      .slider-odd ~ .description {
        grid-column: 3 / -1;
      }
      .description {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 387px;

        
        span {
          margin: 15px 0px;
        }
        p {
          -webkit-line-clamp: 13;

          @include sm {
            grid-row: 4 / -1;
            grid-column: 1 / 2;
            -webkit-line-clamp: 6;
          }
        }
      }

      @include md {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;

        .slider-even, .slider-odd {
          flex-direction: row;
          grid-column: 1 / -1;
          align-items: flex-end;
        }

        .slider-even ~ .description, .slider-odd ~ .description {
          grid-column: 1 / -1;
          grid-row: 1 / 2;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(8, 1fr);
          grid-row-gap: 7px;
          max-height: 230px;

          @include sm {
            grid-template-columns: 1fr;
          }

          h3 {
            margin-right: 25px;
          }
          span {
            grid-row: 2 / -1;
            @include sm {
              grid-column: 1 / 2;
              grid-row: 2 / 5;
            }
          }
        }
      }
    }
  }
}
main .container-slider-expectation article .slider-expectation {
  width: 304px;
  height: 304px;
  flex-direction: row;
  margin: 0 0 30px -10px;

  div.slider__contents {
    background: linear-gradient(to bottom left, $color-gray_light, $color-gray_bright);
    box-shadow: none;
    padding: 25px;
    width: calc(100% - 85px);
  }
}

a {
  display: block;
  font-family: $content-font-family;
  font-size: $font-size_lowest;
  color: $color-red;
  &:hover {
    opacity: 0.6;
  }
}

footer {
  padding-top: 20px;
  background: linear-gradient(to bottom left,$color-gray_light, $color-gray_bright);
  .footer-container {
    margin: 0 auto;
    width: 65.6%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px repeat(4,50px) max-content;
    font-family: $content-font-family;
    @include sm { grid-template-columns: 1fr; }

    h2 {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      margin: 0;
      align-self: center;
      font-family: $title-font-family;
    }
    div {
      grid-row: 2 / 4;
      max-width: 327px;
      @include sm {
        grid-row: 3 / 5;
        grid-column: 1 / 2;
      }

    }
    span {
      grid-column: 1 / 2;
      @include sm { display: none; }
    }
    ul {
      grid-column: 1 / 2;
      grid-row: 5 / -1;
      margin-top: -5px;
      list-style-image: url('sqpurple.gif');
      @include sm { grid-column: 1/2!important; }

      li {
        margin: 5px 0;
        display: flex;
        @include sm { justify-content: flex-start!important };

        div {
          display: inline-block;
          width: 17px;
          height: 17px;
          opacity: 0.1;
          background: #000000;
          border-radius: 2px;
          margin-right: 10px;
        }
      }
    }
    form {
      grid-row: 2 / -1;
      display: grid;
      grid-gap: 20px;
      grid-template-rows: repeat(4,50px) 40px 50px;
      @include sm { grid-row: 5 / -1!important; }

      input {
        height: 50px;
      }
      input, textarea, button {
        font-size: 16px;
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 4px;
        outline: 0;
        resize: none;
        font-family: $content-font-family;
      }
      textarea {
        grid-row: 3 / 5;
      }
      input::placeholder, textarea::placeholder, button::placeholder {
        opacity: 0.5;
      }
      input:focus:valid, textarea:focus:valid {
        border: 1px solid $color-gray;
      }
      input:focus:invalid, textarea:focus:invalid {
        border: 1px solid $color-red-light;
      }

      div {
        grid-row: 5/6;

        label {
          color: red;
          cursor: pointer;
          font-family: $title-font-family;

          img {
            height: 20px;
            margin: 0 5px -3px 0;
          }
        }
        label:hover {
          opacity: 0.5;
        }

        input[type="file"] {
          display: none;
          font-family: $title-font-family;
        }
      }

      button {
        height: 50px;
        background: $color-red;
        color: $color-white;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
        &:active {
          transform: translate(1px, 1px);
        }
      }
    }

    @include md {
      width: 91.7%;
      grid-gap: 0;
      grid-row-gap: 20px;
      

      span { display: none; }
      ul {
        grid-column: 2 / -1;
        grid-row: 2 / 3;
        overflow: hidden;
        grid-row: 2 / 4;

        li { justify-content: center; }
      }
      form {
        grid-row: 4 / -1;
        grid-column: 1 / -1;
      }
    }
  }
}

@keyframes check {
  50% {
    outline-color: #000000;
    box-shadow: 0 0 0 2px #000000, 0 0 0 5px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #000000;
    box-shadow: 0 0 0 0 #000000, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}