$color-blue: #082841;
$color-gray_light: #E6F0F0; // to start of gradient
$color-gray_bright: #E9F0E6; // to end of gradient

$title-font-family: Helvetica-Bold;
$content-font-family: Georgia;

$font-size_lowest: 16px;
$font-size_middle: 24px;
$font-size_biggest: 40px;

$count-imgs-to-first-slide: 4;
$count-imgs-to-second-slide: 4;